form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
}

button:hover {
    background-color: #b30000;
}

strong {
    display: block;
    margin-top: 10px;
    color: #4caf50;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

/* Estilos para el botón */
button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #e90d0d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}



/* Media query para hacer el formulario responsive */
@media only screen and (max-width: 600px) {
    div {
        padding: 10px;
    }

    input {
        width: 100%;
    }
}